@import "partials/variables";
@import "partials/mixins";
@import "partials/queries";
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: $mainbg-colour;
}

p, a {
  font-family: $sans-serif-stack
}

.page-title {
  font-family: $sans-serif-stack;
  margin-left: .5%;
}

.navbar {
  background-color: $navbarbg-colour;
}

.display-1 {
  font-family: $serif-stack;
}

.jumbosec {
  background-color: $jumbotron-sec;
  text-align: center;
}

.jumbotron-fluid.mainjumbo {
  text-align: center;
  margin-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background-image: url(../img/spanelheaderbg.jpeg);
  background-color: black;
  background-blend-mode: screen;
  background-position: 0% 60%;
}

.map {
  float: left;
}

.formdiv {
  display: inline-block;
  margin-left: 3%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $jumbotron-sec;
  border-radius: 1%;
}

footer {
  position: absolute;
  bottom: 0;
  height: .2rem;
}

// CARDS

div.card {
  background-color: $jumbotron-sec;
  padding: 1rem;
}

.card-block {
  padding-top: 1rem;
}

.card-title {
  font-family: $serif-stack;
}

.card-text {
  font-family: $sans-serif-stack;
}