// Fonts

$serif-stack: 'PT Serif', Georgia, Times New Roman, serif;
$sans-serif-stack: 'Montserrat', Helvetica, sans-serif;

// Colors

$mainbg-colour: #E8640C;
$navbarbg-colour: #FF8B00;
$jumbotron-sec: #FFC50D;